@import "../../../../common/globals.scss";

.game-thumbnail {
    cursor: pointer;
    background-image: url(../../../../static/media/card_bg.svg);
    background-size: cover;
    transition: all 300ms ease-in-out !important;

    border: 1px solid lightgray;
    transform: scale(1);
    filter: grayscale(30%);
    box-shadow: none;

    &:hover {
        border: 1px solid $colorTheme2;
        transform: scale(1.02);
        filter: grayscale(0);
        box-shadow: 0 0 8px gray, 0 0 16px $colorTheme1;
    }

    img {
        max-width: 100%;
        border-radius: $gapSmall;
        border: 1px solid lightgray;
    }
}
