@import "../../common/globals.scss";

.lobby-toolbar {
    top: 0;
    position: fixed;
    width: 100%;
    height: $toolbarHeight;
    background-color: whitesmoke;
    box-shadow: 0 0 24px lightgray;
    z-index: 999;
    display: flex;
    justify-content: center;
}

%lobby-toolbar-items-base {
    width: 96%;
    display: grid;
    grid-template-rows: min-content;
    column-gap: $gapMedium;
    align-content: center;
    align-items: center;
}

.lobby-toolbar-items {
    @extend %lobby-toolbar-items-base;
    grid-template-columns: 200px 1fr 150px;
}

.lobby-toolbar-items-mobile {
    @extend %lobby-toolbar-items-base;
    grid-template-columns: 200px 1fr;
}

.lobby-categories {
    margin-top: $toolbarHeight;
}

.lobby-content {
    width: 100%;
    background: url(../../static/media/game_bg_pattern.png), $darkBg;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.lobby-error {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background: $darkBg;
}
