//gloal colors
$colorTheme1: #ff5722;
$colorTheme2: #f50258;
$colorTheme3: #191f26;
$colorTheme4: #051324;

//gap
$gapXSmall: 4px;
$gapSmall: 8px;
$gapMedium: 12px;
$gapLarge: 16px;
$gapXLarge: 24px;
$gapXXLarge: 32px;

$darkBg: radial-gradient(circle at 30% 20%, $colorTheme3, $colorTheme4);

//misc
$toolbarHeight: 84px;

//media query
$breakPoint: 1024px;

@mixin screenLarge {
  @media (min-width: $breakPoint+1) {
    @content;
  }
}

@mixin screenNonLarge {
  @media (max-width: $breakPoint) {
    @content;
  }
}
